.distribution-btn {
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.distribution-btn__group {
    display: flex;
    align-items: center;
}

.distribution-btn__plan {
    display: flex;
    align-items: center;
    margin-right: 8px;
    padding: 7px 8px;
    border-radius: 10px;
    border: 1px solid rgba(85, 255, 133, 0.16);
    background: rgba(85, 255, 133, 0.04);
}

.theme-light .distribution-btn__plan {
    border: 1px solid rgba(75, 179, 75, 0.24);
    background: rgba(75, 179, 75, 0.12);
}

.distribution-btn__icon {
    width: 14px;
    height: 14px;
    margin-right: 4px;
}

.distribution-btn__icon path {
    fill: var(--main-green);
}

.distribution-btn__text {
    font-size: 11px;
    color: var(--main-green);
    line-height: 14px;
}

.distribution-btn__desc {
    font-size: 11px;
    line-height: 18px;
    opacity: 0.5;
}

.distribution-btn__arrow-icon path {
    fill: var(--main-text-color);
}

@media screen and (max-width: 640px) {
    .distribution-btn {
        margin-top: 6px;
        margin-bottom: 0px;
    }
}