.settings-background {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(10, 7, 6, 0.8);
}

.settings {
    width: 450px;
    z-index: 999;
    background: var(--iface-main-bg);
    border-radius: 20px;
    padding-top: 18px;
}

.settings__title {
    margin-bottom: 20px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings__content {
    max-height: 582px;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 18px 18px 18px;
}

.cashback {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--iface-white6);
    margin-bottom: 20px;
    gap: 0 20px;
}

.settings__expert-mode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--iface-white6);
    margin-bottom: 20px;
}

.settings__info {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.settings__icon {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.settings__name {
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
}

.settings__text-info {
    font-size: 14px;
    line-height: 16px;
    color: #8C8C8D;
}

.settings__heading {
    font-size: 24px;
    line-height: 28px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

.settings__close-btn {
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    background: transparent;
}

.settings__text {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

.settings__description {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #8C8C8D;
}

.settings__input {
    transition: .15s;
    margin-bottom: 10px;
    padding: 15px 20px 15px 20px;
    width: 100%;
    max-height: 46px;
    border-radius: 14px;
    outline: none;
    border: 1px solid var(--iface-white14);
    background: transparent;
    text-align: center;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 16px;
}

.settings__input:hover {
    border: 1px solid var(--iface-white24);
    background: var(--iface-white4);
}

.settings__input:active {
    border: 2px solid var(--iface-accent-color);
    background: var(--main-bg-color)
}

.settings__input:focus {
    border: 2px solid var(--iface-accent-color);
    background: var(--main-bg-color)
}

.active_input {
    border: 1px solid var(--iface-accent-color);
    color: var(--iface-accent-color);
}

.active_input:hover {
    border: 1px solid var(--iface-accent-color);
    color: #FFFFFF;
    background: var(--iface-white4);
}

.settings__button-block {
    display: flex;
    gap: 0 10px;
}

.show_expert .settings__button-block {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--iface-white6);
    margin-bottom: 20px;
}

.settings__button {
    transition: .15s;
    width: 100%;
    height: 40px;
    border-radius: 14px;
    border: 1px solid var(--iface-white14);
    background: transparent;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.settings__button:hover {
    border: 1px solid var(--iface-white24);
}

.active,
.active:hover {
    border: 1px solid var(--iface-accent-color);
    color: var(--iface-accent-color);
}

.yellow_status.active {
    border: 1px solid var(--main-yellow);
    background: transparent;
    color: var(--main-yellow);
}

.red_status.active {
    border: 1px solid var(--main-red);
    background: transparent;
    color: var(--main-red);
}

.settings__button-column {
    display: flex;
    flex-direction: column;
}

.intermediate-token {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--iface-white6);
    margin-bottom: 20px;
}

.settings__button-group {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

/*.settings__ignore-btn {
	transition: .15s;
	width: 100%;
	height: 46px;
	border-radius: 15px;
	border: 1px solid rgba(255, 255, 255, 0.15);
	background: transparent;
	font-size: 14px;
}

.settings__ignore-btn:hover {
	border: 1px solid rgba(255, 255, 255, 0.25);
	background: #161616;
}

.volatility__icon {
	margin-right: 4px;
	margin-bottom: -4px;
	width: 20px;
	height: 20px;
}*/

.description-color {
    margin-right: 4px;
    font-weight: 400;
    color: #4A7CFD;
}

.custom-scroll::-webkit-scrollbar-track {
    margin: 5px 0 15px 0;
}

.info-wrapper {
    position: relative;
}

.word-wrap {
    display: inline-block;
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}

.tooltip-icon {
    position: absolute;
    top: 1px;
}

.btn-tooltip {
    max-width: 98%;
    z-index: 100;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-49.5%);
}

.theme-light svg path {
    fill: #141414;
}

@media screen and (max-width: 640px) {
    .settings {
        overflow-y: auto;
        position: fixed;
        z-index: 999;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }

    .settings__title {
        margin-bottom: 30px;
    }

    .settings__content {
        max-height: 100%;
        height: auto;
        overflow-y: auto;
    }

    .btn-tooltip {
        position: fixed;
        z-index: 100;
        bottom: 40px;
        left: 50%;
        transform: translateX(-49.5%);
    }
}

@media screen and (max-height: 650px) {
    .settings__content {
        max-height: calc(100dvh - 70px);
        height: auto;
        overflow-y: auto;
    }
}