.tooltip-enter-active, .tooltip-leave-active {
    transition: .1s ease-out;
}

.tooltip-enter-from, .tooltip-leave-to {
    opacity: 0;
}

.slide-enter-active, .slide-leave-active {
    transition: .2s ease-out;
}

.slide-enter-from, .slide-leave-to {
    margin-bottom: -240px;
    transform-origin: top;
    transform: scaleY(0.01) translateY(-120px);
}


.details {
    transition: height .3s ease-out, overflow 2s;
    margin-top: 15px;
    height: 34px;
    overflow: hidden;
}

.active_details {
    height: 150px;
}

.visible {
    overflow: visible;
}

.details__switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 5px;
    margin-bottom: 15px;
}

.swap-icon {
    margin-right: 5px;
    width: 18px;
    height: 18px;
    transform: rotate(90deg);
}

.arrow-icon {
    width: 18px;
    height: 18px;
}

.active_details .arrow-icon {
    transform: rotateX(180deg);
}

.theme-light .arrow-icon {
    mix-blend-mode: difference;
}

.details__title {
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

.details__more-info {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    padding: 0 5px;
}

.details__row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-align {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
}

.details__group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.details__source-image {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 5px;
}

.details__arrow-icon {
    transition: .15s;
    margin: 0 3px;
    width: 16px;
    height: 16px;
}

.theme-light .details__arrow-icon {
    mix-blend-mode: difference;
    filter: invert(.3);
}

.details__name {
    font-size: 14px;
    opacity: 0.5;
    letter-spacing: 0.25px;
    line-height: 18px;
}

.icon-wrapper {
    position: relative;
}

.details__tooltip {
    bottom: 25px;
    left: 50%;
    transform: translateX(-49.5%);
}

.theme-light svg path {
    fill: #141414;
}

.details__info-icon {
    margin-left: 5px;
    width: 16px;
    height: 16px;
    cursor: help;
}

.theme-light svg path {
    fill: #141414;
}

.details__impact {
    margin-left: 4px;
    font-size: 14px;
    opacity: 1;
}

.details__flex-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
    align-items: flex-end;
}

.details__flex-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 3px;
}

.details__arrow_small {
    width: 16px;
    height: 16px;
    opacity: 0.5;
}

.red-impact {
    color: var(--main-red);
}

.yellow-impact {
    color: var(--main-yellow);
}

.green-impact {
    color: var(--main-green);
}

.details__value {
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 18px;
}

.value_green {
    color: var(--main-green);
}

@media screen and (max-width: 640px) {
    .details__details {
        position: relative;
    }

    .details__tooltip {
        width: calc(100% - 10px);
        left: 5px;
        right: 5px;
        top: 85px;
        bottom: auto;
        transform: translateX(0);
    }

    .icon-wrapper {
        position: static;
    }
}

@media screen and (max-width: 420px) {
    /*.active_details {
        height: 270px;
    } */

    /*.top-align {
        flex-direction: column;
        justify-content: flex-end;
    }
    .details__flex-column {
        margin-top: 10px;
        width: 100%;
        align-items: flex-end;
    }*/
}