@font-face {
    font-family: Harmony-Thin;
    src: url("@/fonts/HarmonyOS/HarmonyOS_Sans_Thin.woff2") format("woff2"),
    url("@/fonts/HarmonyOS/HarmonyOS_Sans_Thin.woff") format("woff");
    font-style: normal;
    font-weight: 100;
    font-display: fallback;
}

@font-face {
    font-family: Harmony-Light;
    src: url("@/fonts/HarmonyOS/HarmonyOS_Sans_Light.woff2") format("woff2"),
    url("@/fonts/HarmonyOS/HarmonyOS_Sans_Light.woff") format("woff");
    font-style: normal;
    font-weight: 300;
    font-display: fallback;
}

@font-face {
    font-family: Harmony-Regular;
    src: url("@/fonts/HarmonyOS/HarmonyOS_Sans_Regular.woff2") format("woff2"),
    url("@/fonts/HarmonyOS/HarmonyOS_Sans_Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
}

@font-face {
    font-family: Harmony-Medium;
    src: url("@/fonts/HarmonyOS/HarmonyOS_Sans_Medium.woff2") format("woff2"),
    url("@/fonts/HarmonyOS/HarmonyOS_Sans_Medium.woff") format("woff");
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
}

@font-face {
    font-family: Harmony-Bold;
    src: url("@/fonts/HarmonyOS/HarmonyOS_Sans_Bold.woff2") format("woff2"),
    url("@/fonts/HarmonyOS/HarmonyOS_Sans_Bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
}

@font-face {
    font-family: Harmony-Black;
    src: url("@/fonts/HarmonyOS/HarmonyOS_Sans_Black.woff2") format("woff2"),
    url("@/fonts/HarmonyOS/HarmonyOS_Sans_Black.woff") format("woff");
    font-style: normal;
    font-weight: 900;
    font-display: fallback;
}


.swap-coffee__sdk-widget {
    font-family: Harmony-Medium, sans-serif;
}

.swap-coffee__sdk-widget * a {
    text-decoration: none;
    color: #fff;
    font-family: Harmony-Medium, sans-serif;
    font-weight: 500;
}

.swap-coffee__sdk-widget * h1,
.swap-coffee__sdk-widget * h2,
.swap-coffee__sdk-widget * h3,
.swap-coffee__sdk-widget * h4 {
    margin: 0;
    font-family: Harmony-Bold, sans-serif;
    color: var(--main-text-color);
}

.swap-coffee__sdk-widget * p {
    margin: 0;
    font-size: 16px;
    line-height: normal;
    font-family: Harmony-Regular, sans-serif;
    color: var(--main-text-color);
}

.swap-coffee__sdk-widget * li {
    font-family: Harmony-Regular, sans-serif;
    color: var(--main-text-color);
}

.swap-coffee__sdk-widget * button {
    cursor: pointer;
    font-family: Harmony-Medium, sans-serif;
    color: var(--main-text-color);
}

.swap-coffee__sdk-widget * input {
    font-family: Harmony-Regular, sans-serif;
    color: var(--main-text-color);
}

.swap-coffee__sdk-widget * textarea {
    font-family: Harmony-Regular, sans-serif;
}

.swap-coffee__sdk-widget * input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.swap-coffee__sdk-widget {
    --main-btn-disabled: #323232;
    --main-blue: #4b76ff;
    --main-green: #32d74b;
    --main-purple: #c172ff;
    --main-red: #ff5449;
    --main-yellow: #ffcf55;
    --main-white: #fff;
    --main-white50: rgba(255, 255, 255, 0.5);
    --main-text-color: #fff;
    --text-color-reverse: #181413;

    --iface-blur: 5px;
    --iface-r14: 14px;
    --iface-r20: 20px;
    --iface-r100: 100px;
    --adv-color: #ff9839;

    --iface-grey12: rgba(12, 12, 13, 0.12);
    --iface-blue-bg: #007aff;

    --iface-white2: rgba(255, 255, 255, 0.02);
    --iface-white3: rgba(255, 255, 255, 0.03);
    --iface-white4: rgba(255, 255, 255, 0.04);
    --iface-white6: rgba(255, 255, 255, 0.06);
    --iface-white8: rgba(255, 255, 255, 0.08);
    --iface-white10: rgba(255, 255, 255, 0.1);
    --iface-white12: rgba(255, 255, 255, 0.12);
    --iface-white14: rgba(255, 255, 255, 0.14);
    --iface-white16: rgba(255, 255, 255, 0.16);
    --iface-white20: rgba(255, 255, 255, 0.2);
    --iface-white24: rgba(255, 255, 255, 0.24);
    --iface-white40: rgba(255, 255, 255, 0.4);

    --iface-black1: #191919;

    --modal-bg: #191919;

    --iface-blue30: rgba(0, 122, 255, 0.3);
    --iface-blue40: rgba(0, 122, 255, 0.4);

    --iface-warn-text: #ffcf55;
    --iface-warn-border: 255, 207, 85, 0.4;
    --iface-warn-bg: 255, 207, 85, 0.06;
    --iface-error-text: #ff5449;
    --iface-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);

    --tag-purple-bg: rgba(193, 114, 255, 0.1);

    --earn-accent: #007aff;
    --earn-hover: #2c95ff;

    --tag-green-bg: rgba(93, 255, 84, 0.1);
}

.swap-coffee__sdk-widget.theme-coffee {
    --main-bg-color: #13100f;

    --bronze: #F6D1B0;
    --silver: #E3EEF5;
    --gold: #FFEEAD;

    --iface-bg: #0a0706;
    --iface-accent-color: #ef904c;
    --iface-accent-hover: #ffad73;
    --iface-send: rgba(255, 255, 255, 0.06);
    --iface-main-bg: #181413;
    --iface-main-border: transparent;
    --iface-tooltip-bg: #181413;
    --iface-without-bg: transparent;

    --iface-grey12: rgba(12, 12, 13, 0.12);

    --iface-border-color: rgba(255, 255, 255, 0.1);
    --iface-border-hover: rgba(255, 255, 255, 0.2);
    --iface-border-active: rgba(255, 255, 255, 0.24);

    --earn-bg: #181514;

    ---tag-green-bg: rgba(93, 255, 84, 0.1);
}

.swap-coffee__sdk-widget.theme-dark {
    --main-bg-color: #0A0A0A;

    --iface-bg: #0A0A0A;
    --iface-accent-color: #0A84FF;
    --iface-accent-hover: #44A6FF;
    --iface-send: #232324;
    --iface-main-bg: #19191A;
    --iface-main-border: rgba(255, 255, 255, 0.1);
    --iface-tooltip-bg: #0A0A0A;
    --iface-without-bg: transparent;

    --iface-border-color: rgba(255, 255, 255, 0.06);
    --iface-border-hover: rgba(255, 255, 255, 0.20);
    --iface-border-active: rgba(255, 255, 255, 0.24);
}

.swap-coffee__sdk-widget.theme-light {
    --bronze: #C79971;
    --silver: #B3B6C0;
    --gold: #E3C06F;

    --main-btn-disabled: #dfdfdf;
    --main-bg-color: #f8f8f8;
    --main-text-color: #0d0d0d;
    --text-color-reverse: #fff;
    --main-green: #10a37f;
    --main-red: #ea3943;
    --main-yellow: #ffab07;
    --adv-color: #f07844;

    --iface-bg: #fff;
    --iface-accent-color: #0a84ff;
    --iface-accent-hover: #44a6ff;
    --iface-send: rgba(20, 20, 20, 0.04);
    --iface-main-bg: #fff;
    --iface-main-border: rgba(20, 20, 20, 0.08);
    --iface-tooltip-bg: #fff;
    --iface-without-bg: transparent;

    --iface-grey12: rgba(12, 12, 13, 0.12);
    --modal-bg: #fff;

    --iface-border-color: rgba(20, 20, 20, 0.08);
    --iface-border-hover: rgba(20, 20, 20, 0.2);
    --iface-border-active: rgba(20, 20, 20, 0.24);
    --iface-white2: rgba(13, 13, 13, 0.02);
    --iface-white3: rgba(20, 20, 20, 0.03);
    --iface-white4: rgba(13, 13, 13, 0.04);
    --iface-white6: rgba(20, 20, 20, 0.06);
    --iface-white8: rgba(13, 13, 13, 0.08);
    --iface-white10: rgba(13, 13, 13, 0.1);
    --iface-white12: rgba(13, 13, 13, 0.12);
    --iface-white14: rgba(20, 20, 20, 0.14);
    --iface-white16: rgba(20, 20, 20, 0.16);
    --iface-white20: rgba(20, 20, 20, 0.2);
    --iface-white24: rgba(20, 20, 20, 0.24);
    --iface-white40: rgba(20, 20, 20, 0.4);

    --tag-green-bg: rgba(50, 215, 75, 0.1);

    --earn-bg: #fff;
}
